
{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OpenTHeaterFrontEnd</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'theater/angular/favicon.ico' %}">
</head>
<body>
  <app-root></app-root>
    <script src="{% static 'theater/angular/runtime.js' %}" defer></script>
    <script src="{% static 'theater/angular/polyfills.js' %}" defer></script>
    <script src="{% static 'theater/angular/styles.js' %}" defer></script>
    <script src="{% static 'theater/angular/vendor.js' %}" defer></script>
    <script src="{% static 'theater/angular/main.js' %}" defer></script>
</body>
</html>
