
{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>OpenTHeater</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'theater/angular/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'theater/angular/styles.9c36b9530393e161.css' %}">
  <script src="https://kit.fontawesome.com/08d9e856ae.js" crossorigin="anonymous"></script>
</head>
<body>
  <app-root></app-root>
    <script src="{% static 'theater/angular/runtime.d2e4a5a1ce3bf205.js' %}" defer></script>
    <script src="{% static 'theater/angular/polyfills.a3a0256acda04fff.js' %}" defer></script>    
    <script src="{% static 'theater/angular/main.e93db2c82136d221.js' %}" defer></script>
</body>
</html>
